page-home {

}
.slide-container {
    padding-top: 0px;
    height: 220px !important;
    width: auto !important;
}

.slide-picture {
    background-size:cover;
}

.kategori-title {
    padding: 2px;
    margin-right: 80px;
    margin-left: 80px;
    font-size: 18px;
    margin-top:5px;
    text-align: center;
}

.kategori-avatar {
    border-radius: 10px;
    height: 130px;
    width: 100% !important;
    background-size:cover;
    font-size: 15px;
    align-items: center;
}

.kategori-list {
    text-align: center;
    margin-top:5px;
}

.kategori-nama {
    position: absolute;
    top: 38%;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px rgb(66, 66, 66);
}
